@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');

:root { 
    --main-color: #CDA857;
}

body {
    font-family: 'Roboto', sans-serif;
}

    header {
        text-align: center;

    }

header img {
    width: 100wv;
}

h1 { 
   font-family: 'Times New Roman', Times, serif;
   color: #CDA857;
   font-style: italic;
   text-transform:uppercase;+
    font-size:50px;
    font-weight: bold;

    }

    main { 
        text-align: center;
    }

    main > a {
        color: var(--main color);
        text-decoration: none;
    }

    button {
        background-color: var(--main color);
        color: #fff;
        padding: 15px 20px;
        border-radius: 6px;
        border: none;
    }

    main image {
        width: 380px;
    
    }

    section h2 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-style: italic;
        color: var(----main --main-color);
        font-size: 34px;
    }
    
    section li {

        line-height: 1.8;

    }
    